a{
    text-decoration:none;
}

a:hover{          
    background-color:yellow;
    color: red;
}

hr {
    border: 1px solid #f1f1f1;           
}
body{
    min-width:250px;
}

.mainbody{
    display: flex;
    flex-direction: column; 
}

.title {
    display: flex;
    flex-direction: row;
    font-family: arial;
    justify-content:space-between;
}
        
.image {
    height: 108px;
    width: 81px;                   
}

.topnav {                  
    background-color: #e9e9e9;
    border-radius: 23px;                   
    margin-bottom: 51px;
    margin-top: 1px;
    overflow: hidden;
    padding-top: 4px;
    padding-left: 15px;                    
}

.topnav .search-container {
    text-align: center;
}
                  
.topnav input[type=text] {
    border: none;
    font-size: 17px;
    padding: 6px;
    margin-top: 8px;
}
                  
.topnav .search-container button {                  
    background: #ddd;
    border: none;
    cursor: pointer;
    font-size: 17px;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
}
                  
.topnav .search-container button:hover {
    background: #ccc;
}
             
.header {                  
    color: rgb(236, 8, 8);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Lucida Sans Regular';
    position: absolute;
    right:10px; 
    top: 5%;
    text-align: right;                                
}

.nnewhead{
    margin-left: auto;
    margin-right: auto;                
}

.newhead{
    margin-right: 20px;
    width: 100%;
}                
        
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;                    
}
        
ul li {
    border-radius:5px;
    background-color: black;
    float: left;
    font-size: 20px;
    line-height: 40px;
    height: 40px; 
    margin-right: 2px;
    opacity: 0.8;
    width: 200px;                   
    text-align: center;                   
}
        
ul li a {
    color: white;
    display: block;
    text-decoration: none;                    
}
        
ul li a:hover {
    background-color: green;
}
        
ul li ul li {
    display: none;
}

ul li:hover ul li{
    display: block;
} 

.midpicture{
    background-color: #c6ccd6;  
    border-radius:10px;  
    display: flex;
    flex-direction:column;                           
} 

.collegeimg{
    border-radius:5px;
    width: 100%;          
} 

.centered {           
    border-radius: 26px;
    background-color :#807171;
    color: white; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 3vw;
    left: 50%;
    opacity: 0.8;               
    position: absolute;
    padding: 10px;           
    transform: translate(-50%, -50%);
    top: 50%;           
}

.para1{
    border-radius:10px; 
    background-color:#e4e4e4;
    font-family: cursive; 
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;            
}

.container {
    background-color: #c6ccd6;
    border-radius:10px; 
    display: flex;
    flex-direction:row;            
}

.mitecollegeimg {
    width: 400px;
}

.miteimg{
    margin-top: auto;
    margin-bottom: auto;
}

.image2 {
    width: 400px;
    border-radius: 5px;
    margin-top: 8px;
}

.para2 {
    border-radius:10px; 
    background-color:#e4e4e4;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.sports{
    background-color: #c6ccd6;
    border-radius:10px; 
    display: flex;
    flex-direction:row;            
}

.imgsports{
    width: 400px;
    border-radius: 5px;
}

.sportsimg{
    margin-top: auto;
    margin-bottom: auto;
    order:2;
}

.pardiv3{
    order:1;
    text-align: justify;
    text-justify: inter-word;
}

.para3{
    border-radius:10px; 
    background-color:#e4e4e4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;        
    padding: 20px;  
    text-align: justify;
    text-justify: inter-word; 
}

.missiondiv{
    background-color: #c6ccd6;
    border-radius:5px;
    display: flex;
    flex-direction:column;
}

.missionhead{
    border: 1px solid;    
    background-color: #EA5E3D;
    border-radius: 10px;
    color:white;
    font-weight: bolder;  
    padding: 3px; 
    text-align:center;   
}

.missiondiv1{
    display: flex;
    flex-direction: row;  
    margin: 20px;
}

.misssubhead{
    color: #d80606;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    text-decoration: underline;   
}

.misspara{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    text-justify: inter-word;     
}

.missiondiv2{   
    border-radius:5px;           
    background-color:#e4e4e4;           
    margin: 10px;
    padding: 10px;            
}

.missiondiv3{
    display: flex;
    flex-direction: row;   
    margin: 20px;
}

.container1{
    background-color: #EA5E3D;
    display: flex;
    flex-direction: column;   
}

.row{
    display: flex;
    flex-direction: row;
}

.contactus{
    color: white;
    flex: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}

.aboutus{
    color: white;
    flex: 2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    text-align: justify;
    text-justify: inter-word; 
}

.newsletter{
    color: white;
    flex: 1;
    margin: 10px;
}

.lasthead{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

.footerlast{
    display: flex;
    flex-direction: row;
    justify-content:center;
    color: red;
    background-color: #807171ba;
} 

@media screen and (max-width:1041px){
.nnewhead{                           
    display: flex;
    justify-content: auto;
    margin-top: -5px;
}

.newhead{
    margin-right:0px;
    width: 100%;
}

.newhead .mainul{
    align-content: center;
    display: flex;
    flex-flow: column;                
}

.centered {
    top: 100%;               
} 
}

@media screen and (max-width:700px)
{ 

.title {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;               
} 

.nnewhead{                           
    display: flex;
    justify-content: auto;
}

.newhead{
    margin-right:0px;
    width: 100%;
}

.newhead .mainul{
    align-content: center;
    display: flex;
    flex-flow: column;
}

.newhead .mainul .mainli {
    align-content: center;
    display: flex;
    flex-flow: column;
}

.centered {
    top: 100%;       
}

.container{
    display: flex;
    flex-direction:column;               
} 

.miteimg{
    margin-left: auto;
    margin-right: auto;
}

.image2{
    border-radius:5px;                   
    width: fit-content;
}

.sports{
    display: flex;
    flex-direction:column;
}

.sportsimg{
    margin-left: auto;
    margin-right: auto;
    order:1;
}

.paradiv3{
    order:2;
}

.missiondiv1{
    display: flex;
    flex-direction: column;    
}

.missiondiv3{
    display: flex;
    flex-direction: column;    
}

.row{
    display: flex;
    flex-direction: column;
} 
 
}
