.principalimg{
    display: flex;
    flex-direction: row;
}
.principalhead{
    border-radius: 5px;
    background-color: #EA5E3D;
    font-weight: bold;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.1px;
    text-align:center;
}
.principalpara{
    background-color:#c6ccd6; 
    font-family: cursive;
    padding: 10px; 
    text-align: justify;
    text-justify: inter-word;
}
.container1{
    background-color: #EA5E3D;
    display: flex;
    flex-direction: column;   
}

.row{
   display: flex;
   flex-direction: row;
}

.contactus{
   color: white;
   flex: 1;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin: 10px;
}

.aboutus{
   color: white;
   flex: 2;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 10px;
   text-align: justify;
   text-justify: inter-word; 
}

.newsletter{
   color: white;
   flex: 1;
   margin: 10px;
}

.lasthead{
   font-family: 'Courier New', Courier, monospace;
   font-size: 20px;
   text-decoration: underline;
   text-align: center;
}

.footerlast{
   display: flex;
   flex-direction: row;
   justify-content:center;
   color: red;
   background-color: #807171ba;
} 
@media screen and (max-width:700px)
{ 
.principalimg{
    display: flex;
    flex-direction:column;
}
.row{
    display: flex;
    flex-direction:column;
 } 
 .princiimg{
     margin-left: auto;
     margin-right: auto;
     margin: auto;
 }


}