* {box-sizing: border-box}
.container {
  padding: 16px;  
}

.reghead{
  color: #4CAF50;
  text-align:center;  
}

.formdiv{
  display: flex;
  flex-direction: column;
}

input[type=text], input[type=password] {
  border: none;
  background: #f1f1f1;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0; 
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.lastpart{
  display: flex;
  flex-direction: column;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.paragraph1{   
  color: red;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}
    